body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
  color: blueviolet;
}

.redDigit {
  color: red;
}

button{
  background-color: aqua;
  border-style: groove;
  border-color: red;
}
